{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

        <section class="page-section cta">
            <div class="container">
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">

                                <div class="container w-50 p-3 pb-0">
                                    {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            {% for message in messages %}
                                                <p class="error"> {{ message }} </p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <div class="container w-50 p-3">
                                    {{ wtf.quick_form(form, novalidate=True) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">

                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "footer.html" %}

