
{% include "header.html" %}

        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/assets/img/intro.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Nie chcesz pracować w domu?</span>
                            <span class="section-heading-lower">idź na kawę!</span>
                        </h2>
                        <p class="mb-3">Zbieramy opinie pracowników zdalnych o poznańskich lokalach. Sprawdź opinie i dołącz do nas.  </p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{{ url_for('show_all') }}">Znajdź swoje ulubione miejsce!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Dlaczego warto wybrać</span>
                                <span class="section-heading-lower">kawiarnię?</span>
                            </h2>
                            <p class="mb-0"><em><b>Zmiana</b> otoczenia</></em> - praca w kawiarni może być odskocznią od pracy w domu, co wpłynie pozytywnie na twórcze myślenie i motywację.</p>
                            <p class="mb-0"><em>Więcej <b>energii</b></></em> -  kawa i świeże powietrze w kawiarni mogą pomóc w poprawie nastraju i dostarczyć energii, Twoja praca będzie bardziej efektywna!</p>
                            <p class="mb-0"><em>Brak <b>rozproszeń</b></em> - w kawiarni nie ma domowych rozproszeń, takich jak telewizja, pranie czy inne obowiązki domowe, co ułatwia skupienie się na pracy.</p>
                            <p class="mb-0"><em><b>Inspiracja</b></em> - praca w kawiarni pomaga w nawiązaniu kontaktów z innymi ludźmi, może to prowadzić do inspirujących rozmów i wymiany pomysłów.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "footer.html" %}