{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/assets/img/about.jpg" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 col-sm-11 col-12 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Chcesz pomóc innym zdalnym pracownikom? </span>
                                </h2>
                                <p class="mb-0">Dołącz do nas i podziel się swoją wiedzą.</p>
                                <p class="mb-0">Jeśli masz już konto <a href="{{ url_for('login') }}">zaloguj się</a></p>
                                <div class="container col-lg-9 p-2">
                                    {{ wtf.quick_form(form, novalidate=True) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% include "footer.html" %}

